@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 166 81 69;
    --primary-dark: 155 70 59;
    --primary-light: 191 100 76;
  }

  body {
    @apply bg-gray-50 text-gray-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
